CA="{{ getenv "DEHYDRATED_CA" "https://acme-v02.api.letsencrypt.org/directory" }}"
CHALLENGETYPE="dns-01"

BASEDIR="/opt/app/dehydrated"
CONFIG_D="${BASEDIR}/conf.d"
DOMAINS_TXT="${BASEDIR}/conf/domains"
HOOK="${BASEDIR}/conf/hook"
LOCKFILE="${BASEDIR}/data/lock"
CERTDIR="${BASEDIR}/data/certs"
ACCOUNTDIR="${BASEDIR}/data/accounts"
CHAINCACHE="${BASEDIR}/data/chains"

CONTACT_EMAIL="{{ getenv "DEHYDRATED_CONTACT_EMAIL" "le@example.com" }}"
IP_VERSION="{{ getenv "DEHYDRATED_IP_VERSION" "4" }}"
RENEW_DAYS="{{ getenv "DEHYDRATED_RENEW_DAYS" "30" }}"
PRIVATE_KEY_RENEW="yes"
PRIVATE_KEY_ROLLOVER="no"
KEY_ALGO="prime256v1"
OCSP_MUST_STAPLE="no"
OCSP_FETCH="no"
AUTO_CLEANUP="no"
API="auto"
